<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Internet of Bees</title>
    <link rel="stylesheet" href="/css/splash.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="jumbotron hero-bg center">
      <div class="container headline-txt">
        <h1 class="display-1">Internet of Bees</h1>
        <p>A mobile-friendly web app to help ATX beekeepers better manage their beehives = more healthy bees, local honey and ATX bee businesses.</p>
        <a class="btn btn-primary pull-left hero-btn" href="#" role="button">Sign Up</a>
        <a class="btn btn-success hero-btn" href="#" role="button">Log In</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Heading 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nunc consequat, finibus leo sit amet, congue velit. Donec id aliquam nulla. Nulla ut libero pulvinar, finibus enim ut, hendrerit enim. Integer tincidunt luctus nulla id vehicula. Quisque id interdum elit. Aliquam vel arcu augue. Phasellus quis convallis turpis. Aenean metus mi, vestibulum sed sapien a, viverra mattis purus. Donec cursus nunc eget tortor tincidunt, non mollis magna aliquet. Phasellus sagittis purus sed hendrerit vestibulum.</p>
        </div>
        <div class="col-md-4">
          <h2>Heading 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nunc consequat, finibus leo sit amet, congue velit. Donec id aliquam nulla. Nulla ut libero pulvinar, finibus enim ut, hendrerit enim. Integer tincidunt luctus nulla id vehicula. Quisque id interdum elit. Aliquam vel arcu augue. Phasellus quis convallis turpis. Aenean metus mi, vestibulum sed sapien a, viverra mattis purus. Donec cursus nunc eget tortor tincidunt, non mollis magna aliquet. Phasellus sagittis purus sed hendrerit vestibulum.</p>
       </div>
        <div class="col-md-4">
          <h2>Heading 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nunc consequat, finibus leo sit amet, congue velit. Donec id aliquam nulla. Nulla ut libero pulvinar, finibus enim ut, hendrerit enim. Integer tincidunt luctus nulla id vehicula. Quisque id interdum elit. Aliquam vel arcu augue. Phasellus quis convallis turpis. Aenean metus mi, vestibulum sed sapien a, viverra mattis purus. Donec cursus nunc eget tortor tincidunt, non mollis magna aliquet. Phasellus sagittis purus sed hendrerit vestibulum.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Internet of Bees 2016</p>
      </footer>
    </div>
</html>
