<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Internet of Bees</title>
    <link rel="stylesheet" href="/css/splash.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="jumbotron hero-bg center">
      <div class="container headline-txt">
        <h1 class="display-1">Internet of Bees</h1>
        <p>A mobile-friendly web app to help ATX beekeepers better manage their beehives = more healthy bees, local honey and ATX bee businesses.</p>
          <a class="btn btn-primary btn-lg pull-left hero-btn" href="register" role="button">Sign Up</a>
          <a class="btn btn-success btn-lg hero-btn" href="login" role="button">Log In</a>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div>
          <h2>Made For Beekeepers</h2>
          <p>
          Keep records over time for your Apiaries.  Record each inspection and document the health, queen status, harvesting for each hive.  This is a fast and easy way to track your beehive progress over time.  Designed for beekeepers for mobile devices.
          </p>
        </div>
      </div>
    <div class="col-md-4"></div>

      <div class="col-xs-12 center">
        <hr>
        <footer>
          <p>&copy; Internet of Bees 2016</p>
        </footer>
      </div>
</html>
