<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Internet of Bees</title>
    <link rel="stylesheet" href="/css/splash.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="cover">
      <div class="container headline headline-txt">
        <h1 class="display-1">Internet of Bees</h1>
        <div class="content-wrap">
        <h2 class="headline">Made For Beekeepers</h2>
        <p>Keep records over time for your Apiaries.  Record each inspection and document the health, queen status, harvesting for each hive.  This is a fast and easy way to track your beehive progress over time.  Designed for beekeepers for mobile devices.</p>
        </div>
        <a class="btn btn-secondary-outline btn-lg hero-btn" id="btn-color" href="register" role="button">Sign Up</a>
        <a class="btn btn-secondary-outline btn-lg hero-btn" id="btn-color" href="login" role="button">Log In</a>
      </div>
    </div>
</html>
