<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/splash.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="cover">
      <div class="bg-img hero-bg center">
        <div class="container headline-txt">
          <h1 class="display-3 login-center">Login</h1>
        </div>
      </div>
      <div class="container-index login-center headline-txt col-md-4 col-md-offset-4">
        <div class="form-group">
          <label class="input-head" for="name" placeholder="User Name">User Name:</label>
          <input type="text" class="form-control input-container" id="usr" placeholder="User Name">
        </div>
        <div class="form-group">
          <label class="input-head"for="lastName">Password:</label>
          <input type="password" class="form-control input-container" id="pwd" placeholder="Password">
        </div>
        <button class="btn btn-success btn-lg btn-space">Login</button>
      </div>
  </div>
</html>
