<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/splash.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="jumbotron hero-bg center">
      <div class="container headline-txt">
        <h1 class="display-4">Registration</h1>
      </div>
    </div>

    <div class="container center">
      <div class="row">
        <div class="form-group">
          <label class="input-head" for="usr">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label class="input-head"for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Internet of Bees 2016</p>
      </footer>
    </div>
</html>
