$black: #4a4a4a;

.dashboard {
  padding: 1rem;
}

.dashboard-nav {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;

  &__header {
    font-size: 36px;
    font-weight: 300;
    color: $black;
  }

  &__toggle {
    margin-left: auto;

    i {
      padding: 0.5rem;
      font-size: 26px;
    }
  }
}

.add-apiary {
  display: flex;
  margin-left: 1rem;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: $black;
    border: 1px solid $black;
    width: 100%;
    padding: 1rem 0.75rem;
    transition: all 200ms ease-in;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($black, 10%);
      transition: all 200ms ease-out;
    }

    &:active {
      color: #fff;
      background-color: darken($black, 20%);
      transition: all 200ms ease-out;
    }

    p {
      font-weight: 700;
      font-size: 24px;
    }

    @media (min-width: 554px) {
      max-width: 300px;
    }
  }

  &__sort {
    margin-left: auto;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.card {
  display: flex;
  margin: 0 1rem 2rem; 
  max-width: 348px;
}
