html, body {
  background: url('/assets/yellowhero.jpg') repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.hero-btn {
  margin: 2em 1em;
}

.headline {
  margin-top: 10vh;
}

.headline-txt {
  color: #fff;
}

.center {
  text-align: center;
}

.input-head {
  font-size: 2em;
}

.input-container {
  max-width: 400px;
}

.btn-space {
  margin-bottom: 20px;
}

