.jumbotron {
  background-color: #ffcc33;
  background: url('/assets/yellowhero.jpg');
}

.hero-btn {
  margin: 2em 1em;
}

.headline-txt {
  color: #fff;
}

.center {
  text-align: center;
}

.input-head {
  font-size: 2em;
}

.input-container {
  max-width: 400px;
}

.btn-space {
  margin-bottom: 20px;
}

.container-index {
  z-index: 1;
}
